<div *ngIf="results">
  <h2>S485942</h2>
  <h2>https://github.com/jarrobots/TI.git</h2> 
  <h2>Total Score: {{ results?.score }}</h2>

  <h3>Tasks:</h3>
  <ul>
    <li *ngFor="let task of getKeys(results.tasks)">
      <strong>{{ task }}</strong>: 
      Score: {{ results.tasks[task].score }},
      Time: {{ results.tasks[task].time }},
      Info: {{ results.tasks[task].info }},
     CzyPrzedDeadline: {{czyPrzedDeadline(task)}}
    </li>
  </ul>
</div>

<h2>General Tasks</h2>
<h3>Tasks:</h3>
<div *ngIf="zad">
  <ul>
    <li *ngFor="let task of getKeys(zad)">
      <strong>{{ task }}</strong>: 
      Score {{ zad[task].Score }},
      Time: {{ zad[task].Deadline }},
    </li>
  </ul>
</div>